SESSION_SECRET="session-secret"
MONGO_SRV="mongodb+srv://ansimonss_db_user:<db_password>@cluster0.zzhh36l.mongodb.net/?retryWrites=true&w=majority"

Copy the values from this .env.example file and paste them into the .env file.
Replace the values with your own and remove this comment.

