.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf1e7; /* need to work on this */
  font-family: "Comic Sans MS", "Arial Rounded MT Bold", sans-serif;
}

.login-card {
  text-align: center;
  padding: 40px 60px;
  border: 3px solid #f08c3c;
  border-radius: 16px;
  background-color: #fff7ef;
}

.beaver-img {
  width: 140px;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  margin: 8px 0;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 24px;
}

.login-button {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
}